
/* <!------------ Containers ------------> */

.lilac-section, .aqua-section, .fuschia-section, .gray-section {
    padding: 2rem 3rem;    
}

@media screen and (min-width: 1024px) {
    .lilac-section, .aqua-section, .fuschia-section, .cream-section, .gray-section {
    padding: 2rem 10rem;    
    }
}

.lilac-section {
    background-color: #CBC9C7;
}

.aqua-section {
    background-color: #C2AFA8;
}

.fuschia-section {
    background-color: #82075D;
}

.cream-section {
    background-color: #f7e9c2;
}


/* <!------------ Navbar ------------> */

.navbar-text {
    margin: auto 2.4rem;    
}

.navbar {
    background-color: #5B3C94;
}

.logo {
    position: absolute;
    z-index: 1000;
    left: 2%;
    top: 10%;
    width: 15%;
    min-width: 139px;      
}

@media screen and (max-width: 375px) {
    .logo {
       min-width: 100px;      
    }
}

/* <!------------ Room Tabs ------------> */

/* .tab-text {
    margin: auto 0.6rem;        
} */

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

/* .nav.nav-tabs li a,
.nav.nav-tabs li.active > a:hover,
.nav.nav-tabs li.active > a:active,
.nav.nav-tabs li.active > a:focus {
    border-bottom-width: 0px;
    outline: none;
}

.nav.nav-tabs li a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tab-pane {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
} */



 /* <!------------ Social Proof Icons ------------> */

.social-icon {
    width: 6rem;
    
}

/* <!------------ Map Section ------------> */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}